#theme_option_body{
    background: #f9f9f9;
    padding: 20px 25px;
    margin-top: 25px;
    width: 90%;
    max-width: 1000px;
    
}
#theme_option_body label{
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#theme_option_body input[type="text"]{
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 5px;
    width: calc(100% - 32px);
    box-sizing: border-box;
    margin-bottom: 15px;
    width: 70%;
    color: black;
    font-size: 14px;
}

#theme_option_body input[type="submit"]{
    background: #ea1a70;
    border: 1px solid #ea1a70;
    padding: 10px 15px;
    border-radius: 5px;
    width: calc(100% - 32px);
    box-sizing: border-box;
    margin-bottom: 15px;
    width: 150px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: block;
    font-weight: bold;
    transition: 0.5s;
}